/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Get Schwifty', cursive; /* Fonte Get Schwifty */
    background-color: #000;
    color: #5eff00;
}

header {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

header h1, header h2 {
    margin: 5px 0;
    color: #ffd700;
}

.logoimg {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}

.character-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.portal-container {
    position: relative;
}

.portal-gif {
    width: 290px;
    height: 290px;
    overflow: hidden;
    position: relative;
}

.portal-gif img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
}

.character-image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.character-image-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #000;
}

.character-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.attributes {
    text-align: left;
}

.attributes p {
    margin: 5px 0;
    color: #fff;
}

.search-bar {
    margin-top: 20px;
    text-align: center;
}

.search-bar input {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color:darkgreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.search-bar button:hover {
    background-color: #45a049;
}

.navigation-buttons {
    display: flex;
    justify-content: left;
    margin-top: 5px;
    padding: 8px;
}

.navigation-buttons button {
    padding: 10px 20px;
    background-color: #006400;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.navigation-buttons button:hover {
    background-color: #008000;
}

.episode-info {
    background-color: #2c2c2c;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.episode-info h3 {
    color: darkgreen;
    margin-top: 0;
}

.episodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.episode {
    background-color: #008000;
    color: #fff;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(50% - 10px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.episode:hover {
    background-color: #424242;
}

footer {
    width: 100%;
    background-color: #2c2c2c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
}

.custom-alert {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
